@use '../../../../styles/base/variables' as *;
@use '../../../../styles/base/mixins' as *;
@use 'sass:color';

.badge {
  $self: &;
  @include flex(center, center, row, $spacing-sm);

  & {
    @include text($fs-regular-sm, $fw-semibold, normal, normal);
    border-radius: $border-radius-regular;
    white-space: nowrap;
  }

  &--default {
    background-color: $c-grey-light;

    &,
    * {
      color: $c-black;
    }
  }

  &--primary {
    background-color: color.change($c-primary, $alpha: 0.2);

    &,
    * {
      color: $c-primary;
    }
  }

  &--secondary {
    background-color: color.change($c-secondary, $alpha: 0.2);

    &,
    * {
      color: $c-secondary;
    }
  }

  &--success {
    background-color: color.change($c-success, $alpha: 0.2);

    &,
    * {
      color: $c-success;
    }
  }

  &--warning {
    background-color: color.change($c-warning, $alpha: 0.2);

    &,
    * {
      color: $c-warning;
    }
  }

  &--danger {
    background-color: color.change($c-danger, $alpha: 0.2);

    &,
    * {
      color: $c-danger;
    }
  }

  &--xs {
    padding: $spacing-sm $spacing-regular;
    font-size: $fs-xs;
    min-height: 1.25rem;
  }

  &--sm {
    padding: $spacing-regular-sm $spacing-md;
    font-size: $fs-sm;
    min-height: 1.5rem;
  }

  &--regular {
    padding: $spacing-regular-sm $spacing-md;
    font-size: $fs-regular-sm;
    min-height: 1.75rem;
  }

  &--md {
    padding: $spacing-regular-sm $spacing-regular;
    font-size: $fs-regular-sm;
    min-height: 2rem;
  }

  &--lg {
    padding: $spacing-regular $spacing-md;
    font-size: $fs-regular;
    min-height: 2.25rem;
  }

  &--xl {
    padding: $spacing-md $spacing-lg;
    font-size: $fs-regular-lg;
    min-height: 2.5rem;
  }
}
