@use "../../../../styles/base/mixins" as *;
@use "../../../../styles/base/variables" as *;

.image-page {
  min-height: 100vh;
  width: 100%;
}

.image-page__container {
  padding: $spacing-xl $spacing-regular-sm;
}
