@use '../../../../styles/base/variables' as *;
@use '../../../../styles/base/mixins' as *;
@use 'sass:color';

.input {
  $self: &;
  @include flex(space-between, center, row);

  & {
    width: 100%;
    background-color: $c-grey;
    border-radius: $border-radius-sm;
    padding: $spacing-regular $spacing-md;
    border: 1px solid transparent;
    outline: none;
    transition: transform 0.2s $ease-out;
  }

  &:focus {
    outline: none;
    transform: translateX(3px);
  }

  &--success {
    background-color: color.change($c-success, $alpha: 0.2);
  }

  &--warning {
    background-color: color.change($c-warning, $alpha: 0.2);
  }

  &--error {
    background-color: color.change($c-danger, $alpha: 0.2);
  }
}
