@use "../../../../styles/base" as *;

.card {
  border-radius: $border-radius-lg;
  border: 1px solid $c-grey-lighter;
  background-color: $c-white;
  color: $c-grey-darker;
  overflow: hidden;

  &__header {
    @include flex(column, flex-start, row, $spacing-xs);

    & {
      &:has(~ .card__content) {
        padding-bottom: $spacing-md;
      }
    }
  }

  &__title {
    @include flex(flex-start, center, row, $spacing-sm);

    & {
      @include title($fs-lg, $fw-medium, normal, normal, $c-grey-darker);
    }
  }

  &__content {
    &:has(~ .card__footer) {
      padding-bottom: $spacing-md;
    }
  }

  &__footer {
    @include flex(column, flex-start, row, $spacing-sm);

    & {
      padding: $spacing-lg;
      padding-top: $spacing-md;
    }
  }
}
