@use '../../../../styles/base' as *;

.dialog {
  &__overlay {
    position: fixed;
    inset: 0;
    z-index: 50;
    background-color: rgba($c-black, 0.5);
    transition: opacity 200ms $ease-in-out;

    &[data-state='open'] {
      animation: dialog-overlay-show 200ms $ease-in-out;
    }

    &[data-state='closed'] {
      animation: dialog-overlay-hide 200ms $ease-in-out;
    }
  }

  &__content {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 50;
    display: grid;
    width: 100%;
    max-width: calc(100% - 2rem);
    gap: $spacing-lg;
    border: 1px solid $c-grey-light;
    background-color: $c-white;
    padding: $spacing-xl $spacing-lg;
    border-radius: $border-radius-lg;
    box-shadow: $box-shadow-blurry;
    transform: translate(-50%, -50%);
    transition: all 200ms $ease-in-out;

    @media (min-width: $bkp-m) {
      max-width: 32rem; // 512px
    }

    &[data-state='open'] {
      animation: dialog-content-show 200ms $ease-in-out;
    }

    &[data-state='closed'] {
      animation: dialog-content-hide 200ms $ease-in-out;
    }
  }

  &__close {
    position: absolute;
    top: $spacing-lg;
    right: $spacing-lg;
    @include flex(center, center);
    width: 1.2rem;
    height: 1.2rem;
    border-radius: $border-radius-sm;
    opacity: 0.8;
    transition: opacity 200ms $ease-in-out;
    cursor: pointer;
    border: none;
    background: none;
    color: $c-grey-dark;

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: 2px solid $c-primary;
      outline-offset: 2px;
    }

    &:disabled {
      pointer-events: none;
    }

    svg {
      pointer-events: none;
      flex-shrink: 0;
      width: 1rem;
      height: 1rem;
    }

    &__sr-only {
      @include visually-hidden;
    }
  }

  &__header {
    @include flex(flex-start, flex-start, column, $spacing-xs);
    text-align: center;

    @media (min-width: $bkp-m) {
      text-align: left;
    }
  }

  &__footer {
    @include flex(space-between, center, column-reverse, $spacing-xs);

    @media (min-width: $bkp-m) {
      flex-direction: row;
    }
  }

  &__title {
    @include title($fs-lg, $fw-semibold, normal, 1.25, $c-black);
    margin: 0;
  }

  &__description {
    @include text($fs-regular-sm, $fw-regular, normal, 1.4, $c-grey-dark);
    margin: 0;
  }
}

// Animations
@keyframes dialog-overlay-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dialog-overlay-hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes dialog-content-show {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes dialog-content-hide {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95);
  }
}
